# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=Q2J6SCTLgOdDWb0f7s9t8g==,hKWM7UdViImUsBFuVejfiQ==,epOMULLkzPXNBW3hz4S/VQ==,jJavkG2QoL9tAP5hoNtNtA==
API_TOKEN_SALT=HsgWnd1PrZnCf0dOHDSrcA==
ADMIN_JWT_SECRET=d9cVpJwBvEUSLBmX5Jzb+Q==
JWT_SECRET=U8u6YzLIVdMK+vOzPxhVdQ==
TRANSFER_TOKEN_SALT=Z6AW7uJQHI5iCnbJnZrpeA==
ENCRYPTION_KEY=GRCJ5I5URfR8k/8iYUtKLw==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
